body {
    margin: 0;
    overflow: hidden;
}

canvas {
    display: block;
}

h1 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    z-index: 1000;
}
